@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Revalia&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0 ;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 500;
    color: #cccccc;
    background-color: #333333;
    position: relative;
}

/* heading and logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333;
    

}

h1,
h2 {
    font-family: revalia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #cccccc;
}

#logo {

    float: left;
    font-size: 200%;
    display: inline;

}

/* navigation menu */

.menu {

    font-size: 100%;
    letter-spacing: 2px;
  
}

.menu,
#logo {

    line-height: 60px;
   
}

.menu li {

    list-style-type: none;
    margin-right: 10px;
}

.menu ul {

    float: right;
    display: flex;
    flex-direction: row;
}

.menu a {
    
    font-family: 'hind madurai';
    text-decoration: none;
    color: inherit;
}

.menu a:hover {

    border-bottom: 1px solid #9999cc;
}

.menu a.active {

    border-bottom: 1px solid #9999cc;
}


/* background and welcome section */

#welcome-page {
    background: url('../images/gurdians\(1080p\).jpg') center center no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#welcome-message {
    
    text-align: center;
    margin: 0 50px;
    padding-bottom: 40px;
    background-color: #333333;
    border: 1px solid #0000;
    box-sizing: border-box;
    border-radius: 5%;
    overflow: hidden;
}

#welcome-message h2 {
    color: #e79243;
    font-size: 30px;
    text-transform: capitalize;
    text-decoration: underline;
    background-color: #333333;
    padding-top: 5px;
    padding-bottom: 5px;
}

#welcome-message p {

    font-size: 20px;
    min-height: 100px;
    font-family: 'hind madurai';
    color: #cccccc;

}

/* about section */

#about-us {

    width: 100%;
    min-height: 60vh;
    overflow: hidden;
    
}

#about-us .about-us-container {

    width: 90%;
    display: block;
    margin: 0 auto;

    
}

.about-us-container .about-us-title {

    width: 100%;
    text-align: center;
    margin-bottom:30px ;

}

.about-us-container .about-us-title h1 {
    color: #b1e1f2;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 40px;
    
}

.left-about-img {
    float: right;
    width: 50%;
}

.left-about-img img {
    width: 100%;
    height: auto;
}

.right-about-us-content {
    float: left;
    width: 50%;
    
}

.right-about-img {
    float: left;
    width: 50%;
}
.right-about-img img {
    width: 100%;
    height: auto;
}

.left-about-us-content {
    float: right;
    width: 50%;

}

#gaming-times {

    margin: auto;
    text-align: center;
    color: #cccccc;
    background-color: #2b2b46;
}

#gaming-times h1 {
    color: #9999cc;
    text-decoration: underline;
    font-size: 40px;
}

#gaming-times h2 {
    font-family: 'hind madurai';
    font-size: 20px;
    

}
/* form */
#form-section {
    display: block;
    text-align: center;
    min-height: 200px;
}

input {
    width: 200px;
    margin: 10px;
    padding: 5px;
}

label {
    color: #cccccc;
    font-family: 'Revalia';
    font-weight: bold;
    display: block;
}

button {
    
    width: 200px;
    margin: 10px;
    padding: 6px;
    cursor: pointer;
    background-color: #cccccc;
    box-shadow: 0 3px #9999cc;

}


.Join-button:hover {
    background-color:#2b2b46;
}
.Join-button:active{
    background-color: #e79243;
    border: none;

}

/* footer */
footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #9999cc;
}

@media screen and (max-width:400px) {

   .menu {
        width: 40%;
        letter-spacing: 1px;
        margin: 0 auto;
        
    }

    #logo {
        font-size: 90%;
    }
   .menu , #logo{
        line-height: 20px;
    }

    #welcome-message {
        margin: 0;
        border-radius: 2%;
   
    }

    .left-about-img { 
        width: 50%;
    }
    
    .left-about-us-content {
        float: left;
        width: 50%;
    }

    .right-about-img {
        float: right;
        width: 50%;
    }

    #gaming-times h1 {
        
        font-size: 25px;
    }

    #gaming-times h2 {
        
        font-size: 15px;
        
    
    }

    #form-section {
        
        min-height: 100px;
    }


}

