@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Revalia&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0 ;
    border: none;
}

body {
    font-family: roboto, sans-serif;
    font-weight: 500;
    color: #cccccc;
    background-color: #333333;
    position: relative;
}

/* heading and logo */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333333;

}

h1,
h2 {
    font-family: revalia, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #cccccc;
}

#logo {

    float: left;
    font-size: 210%;
    display: inline;

}

/* navigation menu */

#menu {

    font-size: 100%;
    letter-spacing: 2px;
  
}

#menu,
#logo {

    line-height: 60px;
   
}

#menu li {

    list-style-type: none;
    margin-right: 10px;
}

#menu ul {

    float: right;
    display: flex;
    flex-direction: row;
}

#menu a {
    
    font-family: hind madurai;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {

    border-bottom: 1px solid #9999cc;
}

.active {

    border-bottom: 1px solid #9999cc;
}


/* background and welcome section */

#welcome-page {
    background: url('../images/gurdians\(1080p\).jpg') center center no-repeat;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

#welcome-message {
    
    text-align: center;
    margin: 0 50px;
    background-color: #333333;
    border: 3px solid rgb(10, 9, 9);
    box-sizing: border-box;
    border-radius: 15%;

}

#welcome-message h2 {

    font-size: 50px;
    text-transform: capitalize;
    background-color: #33333349;
    padding-top: 5px;
    padding-bottom: 5px;
}

#welcome-message p {

    font-size: 20px;
    font-family: hind madurai;
    color: #cccccc;

}

/* about section */

#about-us {
    width: 100%;
   
    
}

#about-us .about-us-container {

    width: 90%;
    display: block;
    margin: 0 auto;
    padding: 50px 0px;
}

.about-us-container .about-us-title {

    width: 100%;
    text-align: center;
    margin-bottom:50px ;

}

.about-us-container .about-us-title h1 {

    text-transform: uppercase;
    font-size: 40px;

}

.right-about-img {
    float: right;
    width: 50%;
}

.right-about-img img {
    width: 100%;
    height: auto;
}

.left-about-img {
    float: left;
    width: 50%;
}
.left-about-img img {
    width: 100%;
    height: auto;
}


#gaming-times {

    margin: auto;
    text-align: center;
    color: #cccccc;
    background-color: #2b2b46;
}

#gaming-times h2 {
    font-family: hind madurai;
    font-size: 20px;

}
/* form */
.form-container {
    text-align: center;
    height: 20vh;
}

/* footer */
footer {
    height: 100px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    color: #9999cc;
}

